.nav__logo {
  position: sticky;
  align-items: center;
  margin-bottom: 1px;
  height: 25px;
  padding: 0px;
}

.div__igcon {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 0px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.main__iglogo {
  width: 45px;
  height: auto;
}

.div__iglink {
  background: linear-gradient(90deg, #b700ff, #ff00b3, #dbf84d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 18px;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .div__igcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
  }
  .div__igcon :hover {
    background-color: #797069;
    border-radius: 5px;
  }
  .main__iglogo {
    width: 45px;
    height: auto;
    display: block;
  }
  .div__iglink {
    display: flex;
    align-items: center;
    margin-top: 0px;
  }
}
.main__conte {
  flex: 1;
}
.main__conte .main__banner {
  display: none;
}
.main__conte .main__div--imgsup {
  position: relative;
  width: 100%;
  height: auto;
}
.main__conte .main__div--imgsup .main__imgprincipal {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main__conte .main__div--imgsup .main__mypic {
  position: absolute;
  top: 60px;
  left: 30px;
  width: 100px;
  height: auto;
  border-radius: 10px;
  border-color: #fff;
  opacity: 0.9;
}
.main__conte .main__textpc,
.main__conte .div__mypicpc {
  display: none;
}
.main__conte .main__card {
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.main__conte .main__card--2 {
  display: none;
}

.div__button {
  width: 50%;
}

@media (min-width: 768px) {
  .main__conte .main__mypic {
    display: none;
  }
}
@media (min-width: 1024px) {
  .main__conte {
    position: relative;
    width: 100%;
    height: 300px;
  }
  .main__conte .main__banner {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .main__conte .main__div--imgsup .main__imgprincipal {
    display: none;
  }
  .main__conte .main__div--imgsup .main__mypic {
    top: -100px;
    left: 90%;
    transform: translate(-50%, -50%);
  }
  .main__conte .main__card {
    display: none;
  }
  .main__conte .main__card--2 {
    display: flex;
    align-items: center;
  }
  .main__conte .main__card--2 h5 {
    margin-top: 10px;
  }
  .main__conte .main__card--2 a {
    margin-bottom: 20px;
    width: 100px;
  }
}
.main__cars {
  width: 100%;
  align-items: center;
}
.main__cars .div__cars--img {
  width: 85%;
  margin: 20px auto 0 auto;
  padding: 5px;
  height: auto;
  display: block;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
@media (min-width: 1024px) {
  .main__cars {
    width: 100%;
    align-items: center;
  }
  .main__cars .div__cars--img {
    width: 400px;
    margin: 10px auto;
    padding: 5px;
    height: auto;
    display: block;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }
  .main__cars .main__div--imgsup {
    position: relative;
    width: 100%;
    height: auto;
  }
  .main__cars .div__card--1 {
    margin: 10px;
  }
  .main__cars .div__card--2 {
    margin: 10px;
  }
  .main__cars .div__card--3 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .main__cars .div__card--4 {
    margin: 15px;
  }
  .main__cars .div2__con--1,
  .main__cars .div2__con--2,
  .main__cars .div2__con--3 {
    display: flex;
    width: 100%;
  }
  .main__cars .div__textcon {
    text-align: center;
    margin-top: 20px;
    color: #000000;
  }
}

.body__aboutme {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  margin: 20px auto 10px auto;
  width: 85%;
  max-width: 500px;
  display: block;
  align-items: center;
}
.body__aboutme h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
.body__aboutme p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
  padding: 0 10px;
}
.body__tips {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  margin: 20px auto 10px auto;
  width: 85%;
  max-width: 500px;
  display: block;
  align-items: center;
}
.body__tips h1, .body__tips h2 {
  font-size: 18px;
  margin-bottom: 8px;
}
.body__tips h1 {
  font-weight: bold;
}
.main__forms {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  margin: 10px 0 20px 0;
  width: 85%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
}
.main__forms form .form-floating {
  margin-top: 20px;
}
.main__forms form .form-floating.no-margin-top {
  margin-top: 0;
}
.main__forms form button.form__send {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .main__forms form .form-floating {
    margin-top: 20px;
  }
  .main__forms form .form-floating.no-margin-top {
    margin-top: 0;
  }
  .main__forms form button.form__send {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}
body {
  width: 100%;
  background: linear-gradient(to bottom, #e6dfdc, #1a2122);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  body {
    width: 100%;
    background: linear-gradient(to bottom, #a8a8a8, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
