.body__aboutme {
  background: rgba(0, 0, 0, 0.6);       
  color: #fff;
  padding: 20px;
  border-radius: 12px;                 
  border: 1px solid rgba(255, 255, 255, 0.2);  
  box-shadow: 0 4px 12px rgba(0,0,0,0.4); 
  backdrop-filter: blur(4px);           
  margin: 10px 0;
  width: 85%;
  max-width: 500px;
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  h1 {
      font-size: 24px;
      margin-bottom: 10px;
  }

  p {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 10px;
      padding: 0 10px;
  }

}

@media (min-width: 1024px) {
        .body__aboutme {
      background: rgba(0, 0, 0, 0.6);       
      color: #fff;
      padding: 20px;
      border-radius: 12px;                 
      border: 1px solid rgba(255, 255, 255, 0.2);  
      box-shadow: 0 4px 12px rgba(0,0,0,0.4); 
      backdrop-filter: blur(4px);           
      margin: 10px 0;
      width: 85%;
      max-width: 500px;
      display: block;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;

      h1 {
            font-size: 24px;
             margin-bottom: 10px;
      }

      p{
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 10px;
        padding: 0 10px;
      }
  
    }
}