$color-paleta-1:  #e6dfdc;
$color-paleta-2:  #1a2122;
$color-paleta-3:  #797069;
$color-paleta-4:  #0d6cfa;
$color-paleta-5:  #95a3a2;
$color-paleta-6:  #4c4845;
$color-paleta-7:  #54676e;
$color-paleta-8:  #3a4546;

.div__igcon {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px; 
  padding: 0px;
  border-radius: 10px;
  transition: background-color 0.3s;
}
.main__iglogo {
width: 45px;         
height: auto;     
}

.div__iglink {
background: linear-gradient(90deg, #b700ff, #ff00b3, #dbf84d);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
font-size: 18px;
text-transform: uppercase;
}

@media (min-width: 1024px) {
  .div__igcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  }

  .div__igcon :hover {
    background-color: $color-paleta-3;
    border-radius: 5px;
  }
  
  .main__iglogo {
    width: 45px;
    height: auto;
    display: block;
  }

  .div__iglink {
    display: flex;
    align-items: center;  
    margin-top: 0px;
  }
}